@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.dashboard-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.dashboard-frame {
  z-index: 2;
}

.blinkers-indicator {
  z-index: 2;
}

.gauge-container {
  position: absolute;
  z-index: 4;
}

.gauge-left {
  position: absolute;
  top: 292px;
  left: 416.5px;
  transform: translate(-50%, -50%);
  overflow: visible;
}

.gauge-center {
  width: auto;
  height: auto;
  top: 319px;
  left: 765px;
  transform: translate(-50%, -50%);
}

.gauge-right {
  width: auto;
  height: auto;
  top: 273.5px;
  right: 422px;
  transform: translate(50%, -50%);
}

.dual-gauge-container {
  position: relative;
  width: 170px;
  height: 170px;
}

.dual-gauge-temperature {
  position: absolute;
  z-index: 10;
  top: 78px;
  left: -32px;
  transform: translateX(-50%);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.dual-gauge-fuel {
  position: absolute;
  z-index: 10;
  bottom: 70px;
  right: -50px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.voltage-indicator-position {
  position: absolute;
  top: 360px;
  left: 1180px;
  z-index: 8;
  transform: translateX(-50%);
}

.voltage-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 90px;
  height: 25px;
  z-index: 9;
  position: relative;
}

.voltage-label {
  font-size: 9px;
  color: white;
  position: absolute;
  top: 1px;
  left: 7px;
}

.voltage-value {
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: baseline;
  gap: 2px;
  position: relative;
  top: 5px;
}

.odometer-position {
  position: absolute;
  top: 360px;
  left: 1042px;
  transform: translateX(-50%);
  z-index: 9;
}

.odometer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 90px;
  height: 25px;
  z-index: 9;
  position: relative;
}

.odometer-label {
  font-size: 9px;
  color: white;
  position: absolute;
  top: 1px;
  left: 6px;
}

.odometer-value {
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: baseline;
  gap: 2px;
  position: relative;
  top: 5px;
}

.odometer-unit {
  font-size: 9px;
  margin-left: 1px;
}

.indicator-icon {
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: 20;
}

.indicator-coolant {
  top: 250px;
  left: 977px;
}

.indicator-fuel {
  top: 250px;
  left: 1182px;
}

.indicator-voltage {
  top: 392px;
  left: 1170px;
}

.gear-indicator {
  position: absolute;
  top: 165px;
  left: 943px;
  font-size: 40px;
  font-weight: 800;
  color: #eaeaea;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 4px #000;
  z-index: 20;
}

.gear-display {
  position: absolute;
  top: 165px;
  left: 943px;
  font-size: 40px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  color: white;
  transition: transform 0.2s ease;
  z-index: 20;
}

.gear-shifted {
  transform: translateX(2px);
}
